In [1]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

FileNotFoundError: [Errno 2] No such file or directory: 'mpg.csv'

In [2]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[OrderedDict([('street', '3526 HIGH ST'),
              ('city', 'SACRAMENTO'),
              ('zip', '95838'),
              ('state', 'CA'),
              ('beds', '2'),
              ('baths', '1'),
              ('sq__ft', '836'),
              ('type', 'Residential'),
              ('sale_date', 'Wed May 21 00:00:00 EDT 2008'),
              ('price', '59222'),
              ('latitude', '38.631913'),
              ('longitude', '-121.434879')]),
 OrderedDict([('street', '51 OMAHA CT'),
              ('city', 'SACRAMENTO'),
              ('zip', '95823'),
              ('state', 'CA'),
              ('beds', '3'),
              ('baths', '1'),
              ('sq__ft', '1167'),
              ('type', 'Residential'),
              ('sale_date', 'Wed May 21 00:00:00 EDT 2008'),
              ('price', '68212'),
              ('latitude', '38.478902'),
              ('longitude', '-121.431028')]),
 OrderedDict([('street', '2796 BRANCH ST'),
              ('city', 'SACRAMENTO'),
              ('zip', '95815'),
              ('state', 'CA'),
              ('beds', '2'),
              ('baths', '1'),
              ('sq__ft', '796'),
              ('type', 'Residential'),
              ('sale_date', 'Wed May 21 00:00:00 EDT 2008'),
              ('price', '68880'),
              ('latitude', '38.618305'),
              ('longitude', '-121.443839')])]

In [3]:
len(mpg)

985

In [4]:
mpg[0].keys()ea

odict_keys(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type', 'sale_date', 'price', 'latitude', 'longitude'])

In [16]:
s = 0;
for d in mpg:
       s = s + float(d['beds'])
        
print(s/len(mpg))

2.9116751269035532

In [8]:
sum(float(d['beds']) for d in mpg)/len(mpg)

2.91

In [10]:
import csv

%precision 2
with open ('mpg.csv') as csvfile:
     mpg=list(csv.DictReader(csvfile))
        
mpg[1:4]

[OrderedDict([('street', '51 OMAHA CT'),
              ('city', 'SACRAMENTO'),
              ('zip', '95823'),
              ('state', 'CA'),
              ('beds', '3'),
              ('baths', '1'),
              ('sq__ft', '1167'),
              ('type', 'Residential'),
              ('sale_date', 'Wed May 21 00:00:00 EDT 2008'),
              ('price', '68212'),
              ('latitude', '38.478902'),
              ('longitude', '-121.431028')]),
 OrderedDict([('street', '2796 BRANCH ST'),
              ('city', 'SACRAMENTO'),
              ('zip', '95815'),
              ('state', 'CA'),
              ('beds', '2'),
              ('baths', '1'),
              ('sq__ft', '796'),
              ('type', 'Residential'),
              ('sale_date', 'Wed May 21 00:00:00 EDT 2008'),
              ('price', '68880'),
              ('latitude', '38.618305'),
              ('longitude', '-121.443839')]),
 OrderedDict([('street', '2805 JANETTE WAY'),
              ('city', 'SACRAMENTO'),
              ('zip', '95815'),
              ('state', 'CA'),
              ('beds', '2'),
              ('baths', '1'),
              ('sq__ft', '852'),
              ('type', 'Residential'),
              ('sale_date', 'Wed May 21 00:00:00 EDT 2008'),
              ('price', '69307'),
              ('latitude', '38.616835'),
              ('longitude', '-121.439146')])]

In [12]:
CtyMpgByCyl = []

for c in street: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['street'] == c: # if the cylinder level type matches,
            summpg += float(d['city']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

NameError: name 'street' is not defined

In [13]:
streets = set(d['street'] for d in mpg)
streets

{'1 KENNELFORD CIR',
 '10 SEA FOAM CT',
 '100 CHELSEA CT',
 '100 CRYSTALWOOD CIR',
 '100 CRYSTALWOOD WAY',
 '100 REBECCA WAY',
 '100 TOURMALINE CIR',
 '10001 WOODCREEK OAKS BLVD Unit 1415',
 '10001 WOODCREEK OAKS BLVD Unit 815',
 '1001 RIO NORTE WAY',
 '1005 MORENO WAY',
 '10062 LINCOLN VILLAGE DR',
 '10085 ATKINS DR',
 '10104 ANNIE ST',
 '10105 MONTE VALLO CT',
 '10112 LAMBEAU CT',
 '10133 NEBBIOLO CT',
 '10158 CRAWFORD WAY',
 '1016 CONGRESS AVE',
 '10165 LOFTON WAY',
 '10245 LOS PALOS DR',
 '10254 JULIANA WAY',
 '1028 FALLON PLACE CT',
 '1032 SOUZA DR',
 '1033 PARK STREAM DR',
 '1035 MILLET WAY',
 '10372 VIA CINTA CT',
 '104 CATLIN CT',
 '1042 STARBROOK DR',
 '1044 GALSTON DR',
 '1050 FOXHALL WAY',
 '10542 SILVERWOOD WAY',
 '106 FARHAM DR',
 '10629 BASIE WAY',
 '1069 ACACIA AVE',
 '107 JARVIS CIR',
 '108 CRYSTALWOOD WAY',
 '1080 RIO NORTE WAY',
 '1092 MAUGHAM CT',
 '10949 SCOTSMAN WAY',
 '11 E ST',
 '110 COPPER LEAF WAY',
 '1102 CHESLEY LN',
 '1103 COMMONS DR',
 '1104 HILLSDALE LN',
 '1106 55TH ST',
 '1110 PINEDALE AVE',
 '1113 COMMONS DR',
 '1113 SANDWICK WAY',
 '11130 EEL RIVER CT',
 '11150 TRINITY RIVER DR Unit 114',
 '1121 CREEKSIDE WAY',
 '11215 SHARRMONT CT',
 '1122 WILD POPPY CT',
 '1124 PERKINS WAY',
 '11281 STANFORD COURT LN Unit 604',
 '113 LEEWILL AVE',
 '113 RINETTI WAY',
 '1139 CLINTON RD',
 '1140 EDMONTON DR',
 '1158 SAN IGNACIO WAY',
 '116 CRYSTALWOOD WAY',
 '1165 37TH ST',
 '117 EVCAR WAY',
 '1171 SONOMA AVE',
 '1178 WARMWOOD CT',
 '11817 OPAL RIDGE WAY',
 '11826 DIONYSUS WAY',
 '119 SAINT MARIE CIR',
 '12 COSTA BRASE CT',
 '120 GRANT LN',
 '1207 CRESCENDO DR',
 '12075 APPLESBURY CT',
 '1214 DAWNWOOD DR',
 '1219 G ST',
 '12209 CONSERVANCY WAY',
 '1223 LAMBERTON CIR',
 '12241 CANYONLANDS DR',
 '1230 SANDRA CIR',
 '1240 FAY CIR',
 '1251 GREEN RAVINE DR',
 '127 QUASAR CIR',
 '12901 FURLONG DR',
 '1300 F ST',
 '1312 RENISON LN',
 '1315 KONDOS AVE',
 '1316 I ST',
 '1322 SUTTER WALK',
 '1336 LAYSAN TEAL DR',
 '1347 HIDALGO CIR',
 '1356 HARTLEY WAY',
 '137 GUNNISON AVE',
 '14 ASHLEY OAKS CT',
 '14 CASA VATONI PL',
 '140 VENTO CT',
 '14004 WALNUT AVE',
 '1401 STERLING ST',
 '1407 TIFFANY CIR',
 '1409 47TH ST',
 '14151 INDIO DR',
 '1416 LOCKHART WAY',
 '1434 BELL AVE',
 '1440 EMERALD LN',
 '1455 64TH AVE',
 '1456 EAGLESFIELD LN',
 '1469 JANRICK AVE',
 '14788 NATCHEZ CT',
 '1484 RADCLIFFE WAY',
 '149 OPUS CIR',
 '15 CRYSTALWOOD CIR',
 '15 LOORZ CT',
 '15 VANESSA PL',
 '1500 ORANGE HILL LN',
 '1515 EL CAMINO VERDE DR',
 '1524 YOUNGS AVE',
 '1525 PENNSYLVANIA AVE',
 '1528 HESKET WAY',
 '1530 TOPANGA LN Unit 204',
 '15300 MURIETA SOUTH PKWY',
 '1536 STONEY CROSS LN',
 '1550 TOPANGA LN Unit 207',
 '1570 GLIDDEN AVE',
 '1571 WILD OAK LN',
 '16 BRONCO CREEK CT',
 '1620 BASLER ST',
 '1630 GLIDDEN AVE',
 '1636 ALLENWOOD CIR',
 '167 VALLEY OAK DR',
 '1675 VERNON ST Unit 24',
 '1675 VERNON ST Unit 8',
 '169 BAURER CIR',
 '1691 NOGALES ST',
 '1693 SHELTER COVE DR',
 '17 SERASPI CT',
 '170 LAGOMARSINO WAY',
 '170 PENHOW CIR',
 '1732 TUSCAN GROVE CIR',
 '1740 HIGH ST',
 '1786 PIEDMONT WAY',
 '1792 DAWNELLE WAY',
 '1792 DIAMOND WOODS CIR',
 '18 OLLIE CT',
 '1800 AVONDALE DR',
 '1813 AVENIDA MARTINA',
 '1828 2ND AVE',
 '1833 2ND AVE',
 '1838 CASTRO WAY',
 '1889 COLD SPRINGS RD',
 '1890 GENEVA PL',
 '19 CRYSTALWOOD CIR',
 '19 E ST',
 '1900 DANBROOK DR',
 '1909 YARNELL WAY',
 '191 BARNHART CIR',
 '1910 BONAVISTA WAY',
 '1941 EXPEDITION WAY',
 '1965 LAURELHURST LN',
 '1973 DANVERS WAY',
 '1975 SIDESADDLE WAY',
 '1986 DANVERS WAY',
 '20 CRYSTALWOOD CIR',
 '20 GROTH CIR',
 '200 ALLAIRE CIR',
 '200 CRADLE MOUNTAIN CT',
 '200 HILLSFORD CT',
 '200 OAKWILDE ST',
 '201 CARLO CT',
 '201 FIRESTONE DR',
 '201 KIRKLAND CT',
 '2010 PROMONTORY POINT LN',
 '2015 PROMONTORY POINT LN',
 '2028 ROBERT WAY',
 '203 CASCADE FALLS DR',
 '2049 EMPIRE MINE CIR',
 '2064 EXPEDITION WAY',
 '2065 IMPRESSIONIST WAY',
 '207 ORANGE BLOSSOM CIR Unit C',
 '2089 BECKETT DR',
 '2100 BEATTY WAY',
 '2103 BURBERRY WAY',
 '2109 HAMLET PL',
 '211 MCDANIEL CIR',
 '2113 FALL TRAIL CT',
 '2113 KIRK WAY',
 '2115 SMOKESTACK WAY',
 '212 CAPPUCINO WAY',
 '2121 HANNAH WAY',
 '2123 AMANDA WAY',
 '2125 22ND AVE',
 '2125 BIG SKY DR',
 '2130 CATHERWOOD WAY',
 '2148 RANCH VIEW DR',
 '2149 COTTAGE WAY',
 '2159 BECKETT DR',
 '2178 63RD AVE',
 '2181 WINTERHAVEN CIR',
 '220 OLD AIRPORT RD',
 '221 PICASSO CIR',
 '2216 DUNLAP DR',
 '2217 APPALOOSA CT',
 '2219 EL CANTO CIR',
 '2221 2ND AVE',
 '2231 COUNTRY VILLA CT',
 '2242 ABLE WAY',
 '2250 FOREBAY RD',
 '2251 LAMPLIGHT LN',
 '227 MAHAN CT Unit 1',
 '2274 IVY BRIDGE DR',
 '2277 BABETTE WAY',
 '2284 LOS ROBLES RD',
 '2298 PRIMROSE LN',
 '23 CRYSTALWOOD CIR',
 '230 BANKSIDE WAY',
 '230 CANDELA CIR',
 '2319 THORES ST',
 '2327 32ND ST',
 '2328 DOROTHY JUNE WAY',
 '2332 CAMBRIDGE ST',
 '2340 HURLEY WAY',
 '2341 BIG STRIKE TRL',
 '2361 LA LOMA DR',
 '2368 CRAIG AVE',
 '2370 BIG CANYON CREEK RD',
 '24 CRYSTALWOOD CIR',
 '24 WINDCHIME CT',
 '2400 COUNTRYSIDE DR',
 '2400 INVERNESS DR',
 '241 LANFRANCO CIR',
 '2421 BERRYWOOD DR',
 '2421 SANTINA WAY',
 '2422 STEFANIE DR',
 '2426 RASHAWN DR',
 '2442 LARKSPUR LN',
 '2450 SAN JOSE WAY',
 '2460 EL ROCCO WAY',
 '250 PERALTA AVE',
 '2505 RHINE WAY',
 '251 CHANGO CIR',
 '2513 OLD KENMARE RD',
 '2561 19TH AVE',
 '2561 VERNA WAY',
 '2566 SERENATA WAY',
 '26 JEANROSS CT',
 '26 KAMSON CT',
 '2601 SAN FERNANDO WAY',
 '261 REDONDO AVE',
 '2610 PHYLLIS AVE',
 '2617 BASS CT',
 '2621 EVERGREEN ST',
 '2622 ERIN DR',
 '2636 TRONERO WAY',
 '2674 TAM O SHANTER DR',
 '2678 BRIARTON DR',
 '27 CRYSTALWOOD CIR',
 '27 E ST',
 '27 MEGAN CT',
 '2733 DANA LOOP',
 '2733 YUMA CT',
 '2743 DEAKIN PL',
 '2778 KAWEAH CT',
 '2796 BRANCH ST',
 '28 CRYSTALWOOD CIR',
 '2802 BLACK OAK DR',
 '2805 JANETTE WAY',
 '2809 LOON CT',
 '281 SPYGLASS HL',
 '2818 KNOLLWOOD DR',
 '2820 DEL PASO BLVD',
 '2847 BELGRADE WAY',
 '2848 PROVO WAY',
 '2866 KARITSA AVE',
 '2880 CANDIDO DR',
 '2887 AZEVEDO DR',
 '29 COOL FOUNTAIN CT',
 '2900 BLAIR RD',
 '2901 PINTAIL WAY',
 '2909 SHAWN WAY',
 '2912 NORCADE CIR',
 '2915 HOLDREGE WAY',
 '2916 BABSON DR',
 '2930 LA ROSA RD',
 '2931 HOWE AVE',
 '294 SPARROW DR',
 '2945 RED HAWK WAY',
 '2949 PANAMA AVE',
 '2956 DAVENPORT WAY',
 '2981 WRINGER DR',
 '2982 ABERDEEN LN',
 '2987 DIORITE WAY',
 '2987 PONDEROSA LN',
 '3 CRYSTALWOOD CIR',
 '3 E ST',
 '301 OLIVADI WAY',
 '3012 SPOONWOOD WAY',
 '3013 BRIDLEWOOD DR',
 '3020 RICHARDSON CIR',
 '3025 EL PRADO WAY',
 '3027 PALMATE WAY',
 '3035 BRUNNET LN',
 '3035 ESTEPA DR Unit 5C',
 '3040 PARKHAM DR',
 '306 CAMELLIA WAY',
 '3072 VILLAGE PLAZA DR',
 '308 ATKINSON ST',
 '31 CRYSTALWOOD CIR',
 '310 GROTH CIR',
 '3100 EXPLORER DR',
 '3104 CLAY ST',
 '3108 DELWOOD WAY',
 '3118 42ND ST',
 '312 RIVER ISLE WAY',
 '3128 VIA GRANDE',
 '3132 CLAY ST',
 '3139 SPOONWOOD WAY Unit 1',
 '315 JUMEL CT',
 '3150 ROSEMONT DR',
 '3174 NORTHVIEW DR',
 '318 ANACAPA DR',
 '32 CRYSTALWOOD CIR',
 '320 GROTH CIR',
 '3212 CORNICHE LN',
 '3224 PARKHAM DR',
 '3228 BAGGAN CT',
 '3228 I ST',
 '3230 SMATHERS WAY',
 '3232 PARKHAM DR',
 '3240 S ST',
 '3253 ABOTO WAY',
 '3301 PARK DR Unit 1914',
 '3305 RIO ROCA CT',
 '3318 DAVIDSON DR',
 '332 PALIN AVE',
 '3328 22ND AVE',
 '3330 VILLAGE CT',
 '3348 40TH ST',
 '3348 RIO LINDA BLVD',
 '3349 CORVINA DR',
 '3361 ALDER CANYON WAY',
 '3361 BOW MAR CT',
 '3372 BERETANIA WAY',
 '3409 VIRGO ST',
 '3425 MEADOW WAY',
 '3427 LA CADENA WAY',
 '3429 FERNBROOK CT',
 '3432 Y ST',
 '3450 WHITNOR CT',
 '35 CRYSTALWOOD CIR',
 '35 E ST',
 '3503 21ST AVE',
 '3512 RAINSONG CIR',
 '3522 22ND AVE',
 '3526 HIGH ST',
 '3528 SAINT GEORGE DR',
 '3529 FABERGE WAY',
 '3536 SUN MAIDEN WAY',
 '3557 SODA WAY',
 '3569 SODA WAY',
 '3578 LOGGERHEAD WAY',
 '36 CRYSTALWOOD CIR',
 '3604 KODIAK WAY',
 '361 MAHONIA CIR',
 '3621 WINTUN DR',
 '3622 CURTIS DR',
 '3624 20TH AVE',
 '3660 22ND AVE',
 '3662 RIVER DR',
 '3692 PAYNE WAY',
 '37 WHITE BIRCH CT',
 '3715 DIDCOT CIR',
 '3715 TALLYHO DR Unit 78HIGH',
 '3720 VISTA DE MADERA',
 '3725 DON JULIO BLVD',
 '3726 JONKO AVE',
 '3729 BAINBRIDGE DR',
 '3732 LANKERSHIM WAY',
 '374 1ST ST',
 '3800 LYNHURST WAY',
 '3801 WILDROSE WAY',
 '3812 BELDEN ST',
 '3812 CYPRESS ST',
 '3820 NATOMA WAY',
 '3828 BLACKFOOT WAY',
 '3845 ELM ST',
 '3847 LAS PASAS WAY',
 '386 1ST ST',
 '3863 LAS PASAS WAY',
 '3882 YELLOWSTONE LN',
 '39 CRYSTALWOOD CIR',
 '3908 17TH AVE',
 '391 NATALINO CIR',
 '3920 39TH ST',
 '3920 SHINING STAR DR',
 '3924 HIGH ST',
 '3930 ANNABELLE AVE',
 '3935 EL MONTE DR',
 '3935 LIMESTONE WAY',
 '3949 WILDROSE WAY',
 '3975 SHINING STAR DR',
 '398 1ST ST',
 '398 LINDLEY DR',
 '40 CRYSTALWOOD CIR',
 '4004 CRESTA WAY',
 '4008 GREY LIVERY WAY',
 '4010 ALEX LN',
 '4030 BROADWAY',
 '404 6TH ST',
 '405 MARLIN SPIKE WAY',
 '4055 DEERBROOK DR',
 '4070 REDONDO DR',
 '4071 EVALITA WAY',
 '4073 TRESLER AVE',
 '408 KIRKWOOD CT',
 '4085 COUNTRY DR',
 '4085 FAWN CIR',
 '4100 BOTHWELL CIR',
 '4108 NORTON WAY',
 '411 ILLSLEY WAY',
 '4113 DAYSTAR CT',
 '4114 35TH AVE',
 '4128 HILL ST',
 '4143 SEA MEADOW WAY',
 '416 LEITCH AVE',
 '4165 BRISBANE CIR',
 '4180 12TH AVE',
 '4186 TULIP PARK WAY',
 '419 DAWNRIDGE RD',
 '4200 COMMERCE WAY Unit 711',
 '4204 LUSK DR',
 '4207 PAINTER WAY',
 '4225 46TH AVE',
 '4232 71ST ST',
 '4236 ADRIATIC SEA WAY',
 '4236 NATOMAS CENTRAL DR',
 '4240 WINJE DR',
 '4243 MIDDLEBURY WAY',
 '4250 ARDWELL WAY',
 '427 21ST ST',
 '4288 DYMIC WAY',
 '4290 BLACKFORD WAY',
 '43 CRYSTALWOOD CIR',
 '43 E ST',
 '4320 FOUR SEASONS RD',
 '434 1ST ST',
 '435 EXCHANGE ST',
 '4351 TURNBRIDGE DR',
 '4359 CREGAN CT',
 '44 CRYSTALWOOD CIR',
 '441 ARLINGDALE CIR',
 '4419 79TH ST',
 '4431 GREEN TREE DR',
 '4437 MITCHUM CT',
 '4440 SYCAMORE AVE',
 '4478 GREENBRAE RD',
 '448 ELMWOOD CT',
 '4480 VALLEY HI DR',
 '4487 PANORAMA DR',
 '4500 TIPPWOOD WAY',
 '4508 OLD DAIRY DR',
 '4509 WINJE DR',
 '4513 GREENHOLME DR',
 '4517 OLYMPIAD WAY',
 '4520 BOMARK WAY',
 '4524 LOCH HAVEN WAY',
 '4533 LOCH HAVEN WAY',
 '4620 BROMWICH CT',
 '4620 CHAMBERLIN CIR',
 '4620 WELERA WAY',
 '4621 COUNTRY SCENE WAY',
 '4622 MEYER WAY',
 '4629 DORCHESTER LN',
 '4631 11TH AVE',
 '4636 TEAL BAY CT',
 '4649 FREEWAY CIR',
 '4660 CEDARWOOD WAY',
 '47 CRYSTALWOOD CIR',
 '47 NAPONEE CT',
 '4709 AMBER LN Unit 1',
 '4712 PISMO BEACH DR',
 '4727 SAVOIE WAY',
 '4734 14TH AVE',
 '4734 GIBBONS DR',
 '4738 OAKHOLLOW DR',
 '4741 PACIFIC PARK DR',
 '4748 SALEM WAY',
 '48 CRYSTALWOOD CIR',
 '4800 MAPLEPLAIN AVE',
 '4800 WESTLAKE PKWY Unit 2109',
 '4800 WESTLAKE PKWY Unit 410',
 '4803 MCCLOUD DR',
 '4804 NORIKER DR',
 '4818 BRITTNEY LEE CT',
 '4821 HUTSON WAY',
 '483 ARCADE BLVD',
 '4841 VILLAGE GREEN DR',
 '4844 CLYDEBANK WAY',
 '4854 TANGERINE AVE',
 '4867 LAGUNA DR',
 '4882 BANDALIN WAY',
 '4885 SUMMIT VIEW DR',
 '4899 WIND CREEK DR',
 '4900 71ST ST',
 '4900 ELUDE CT',
 '4901 MILLNER WAY',
 '4904 J PKWY',
 '4909 RUGER CT',
 '4925 PERCHERON DR',
 '4966 CHARTER RD',
 '5 BISHOPGATE CT',
 '500 WINCHESTER CT',
 '501 POPLAR AVE',
 '5024 CHAMBERLIN CIR',
 '5028 14TH AVE',
 '5031 CORVAIR ST',
 '5037 J PKWY',
 '5050 RHODE ISLAND DR Unit 4',
 '506 BEDFORD CT',
 '508 SAMUEL WAY',
 '509 CASTILLIAN CT',
 '51 AIKEN WAY',
 '51 ANJOU CIR',
 '51 CRYSTALWOOD CIR',
 '51 E ST',
 '51 OMAHA CT',
 '5102 ARCHCREST WAY',
 '5118 ROBANDER ST',
 '5136 CABOT CIR',
 '52 CRYSTALWOOD CIR',
 '5201 BLOSSOM RANCH DR',
 '5201 LAGUNA OAKS DR Unit 126',
 '5201 LAGUNA OAKS DR Unit 140',
 '5201 LAGUNA OAKS DR Unit 162',
 '5201 LAGUNA OAKS DR Unit 172',
 '5201 LAGUNA OAKS DR Unit 199',
 '5209 LAGUNA CREST WAY',
 '5217 ARGO WAY',
 '5221 38TH AVE',
 '5222 COPPER SUNSET WAY',
 '523 EXCHANGE ST',
 '5303 JERRETT WAY',
 '5307 CABRILLO WAY',
 '5308 MARBURY WAY',
 '5312 MARBURY WAY',
 '5321 DELTA DR',
 '5322 WHITE LOTUS WAY',
 '5332 SANDSTONE ST',
 '5333 PRIMROSE DR Unit 19A',
 '5337 DUSTY ROSE WAY',
 '5340 BIRK WAY',
 '5342 CALABRIA WAY',
 '5380 VILLAGE WOOD DR',
 '540 HARLING CT',
 '540 MORRISON AVE',
 '5404 ALMOND FALLS WAY',
 '5405 NECTAR CIR',
 '5411 10TH AVE',
 '5413 BUENA VENTURA WAY',
 '5419 HAVENHURST CIR',
 '5420 ALMOND FALLS WAY',
 '5429 HESPER WAY',
 '5448 MAIDSTONE WAY',
 '5479 NICKMAN WAY',
 '55 CRYSTALWOOD CIR',
 '550 DEL VERDE CIR',
 '5501 VALLETTA WAY',
 '5509 LAGUNA CREST WAY',
 '5529 LAGUNA PARK DR',
 '5531 JANSEN DR',
 '5532 ENGLE RD',
 '5544 CAMAS CT',
 '5559 NORTHBOROUGH DR',
 '556 PLATT CIR',
 '5579 JERRY LITELL WAY',
 '5601 REXLEIGH DR',
 '5601 SPINDRIFT LN',
 '5608 ROSEDALE WAY',
 '5615 LUPIN LN',
 '5624 MEMORY LN',
 '5625 JAMES WAY',
 '5628 GEORGIA DR',
 '5635 FOXVIEW WAY',
 '5635 LOS PUEBLOS WAY',
 '5636 25TH ST',
 '5651 OVERLEAF WAY',
 '5672 HILLSDALE BLVD',
 '5706 GREENACRES WAY',
 '5708 RIDGEPOINT DR',
 '5709 RIVER OAK WAY',
 '5712 MELBURY CIR',
 '5725 BALFOR RD',
 '5733 ANGELINA AVE',
 '5746 GELSTON WAY',
 '5747 KING RD',
 '5754 WALERGA RD Unit 4',
 '5776 TERRACE DR',
 '580 REGENCY PARK CIR',
 '5805 DOTMAR WAY',
 '5805 HIMALAYA WAY',
 '5821 64TH ST',
 '5828 PEPPERMILL CT',
 '5840 WALERGA RD',
 '5841 VALLEY VALE WAY',
 '5847 DEL CAMPO LN',
 '5890 TT TRAK',
 '59 E ST',
 '5907 ELLERSLEE DR',
 '5908 MCLEAN DR',
 '5912 DEEPDALE WAY',
 '5920 VALLEY GLEN WAY',
 '5924 TANUS CIR',
 '5925 MALEVILLE AVE',
 '5937 BAMFORD DR',
 '5937 YORK GLEN WAY',
 '5938 WOODBRIAR WAY',
 '5954 BRIDGECROSS DR',
 '5954 TANUS CIR',
 '5976 KYLENCH CT',
 '5980 79TH ST',
 '5993 SAWYER CIR',
 '6000 BIRCHGLADE WAY',
 '6001 MCMAHON DR',
 '6001 SHOO FLY RD',
 '6007 MARYBELLE LN',
 '601 REGGINALD WAY',
 '6013 ROWAN WAY',
 '6019 CHESHIRE WAY',
 '6030 PALERMO WAY',
 '604 MORRISON AVE',
 '604 P ST',
 '6045 EHRHARDT AVE',
 '6048 OGDEN NASH WAY',
 '6049 HAMBURG WAY',
 '6063 LAND PARK DR',
 '6080 BRIDGECROSS DR',
 '611 BLOSSOM ROCK LN',
 '6112 HERMOSA ST',
 '6118 STONEHAND AVE',
 '612 STONE BLVD',
 '6121 ALPINESPRING WAY',
 '6121 WILD FOX CT',
 '6128 CARL SANDBURG CIR',
 '6139 HERMOSA ST',
 '617 M ST',
 '617 WILLOW CREEK DR',
 '6196 EDGEHILL DR',
 '62 DE FER CIR',
 '620 KESWICK CT',
 '6208 GRATTAN WAY',
 '6217 LEOLA WAY',
 '6220 OPUS CT',
 '6221 GREEN TOP WAY',
 '6222 CALLE MONTALVO CIR',
 '6232 GUS WAY',
 '6236 LONGFORD DR Unit 1',
 '624 HOVEY WAY',
 '6272 LONGFORD DR Unit 1',
 '6286 LONETREE BLVD',
 '6288 LONETREE BLVD',
 '63 ANGEL ISLAND CIR',
 '63 CRYSTALWOOD CIR',
 '6306 CONEJO',
 '6313 CASTRO VERDE WAY',
 '6318 39TH AVE',
 '632 NEWBRIDGE LN',
 '6320 EL DORADO ST',
 '6326 APPIAN WAY',
 '633 HANISCH DR',
 '6344 BONHAM CIR',
 '6344 LAGUNA MIRAGE LN',
 '636 CRESTVIEW DR',
 '6401 MARSHALL RD',
 '6411 RED BIRCH WAY',
 '6417 SUNNYFIELD WAY',
 '645 MORRISON AVE',
 '648 SANTA ANA AVE',
 '6485 LAGUNA MIRAGE LN',
 '6503 RIO DE ONAR WAY',
 '6507 RIO DE ONAR WAY',
 '6513 HOLIDAY WAY',
 '6517 DONEGAL DR',
 '652 FIFTEEN MILE DR',
 '6548 GRAYLOCK LN',
 '6561 WEATHERFORD WAY',
 '6600 SILVERTHORNE CIR',
 '6601 WOODMORE OAKS DR',
 '6613 NAVION DR',
 '6622 WILLOWLEAF DR',
 '6631 DEMARET DR',
 '6632 IBEX WOODS CT',
 '6671 FOXWOOD CT',
 '6708 PONTA DO SOL WAY',
 '6709 ROSE BRIDGE DR',
 '671 SONOMA AVE',
 '6715 6TH ST',
 '6716 TAREYTON WAY',
 '6743 21ST ST',
 '6768 MEDORA DR',
 '68 CRYSTALWOOD CIR',
 '6801 RAWLEY WAY',
 '6813 SCOTER WAY',
 '6824 OLIVE TREE WAY',
 '6850 21ST ST',
 '6900 LONICERA DR',
 '6905 COBALT WAY',
 '6905 FRANKFORT CT',
 '6908 PIN OAK CT',
 '6913 RICHEVE WAY',
 '6920 GILLINGHAM WAY',
 '6930 HAMPTON COVE WAY',
 '6932 RUSKUT WAY',
 '6935 ELM TREE LN',
 '6943 WOLFGRAM WAY',
 '6945 RIO TEJO WAY',
 '6948 MIRADOR WAY',
 '7 ARCHIBALD CT',
 '7 CRYSTALWOOD CIR',
 '700 HUNTER PL',
 '7004 RAWLEY WAY',
 '7005 TIANT WAY',
 '701 JESSIE AVE',
 '7015 WOODSIDE DR',
 '7031 CANEVALLEY CIR',
 '7032 FAIR OAKS BLVD',
 '7043 9TH AVE',
 '7044 CARTHY WAY',
 '7045 PEEVEY CT',
 '709 CIMMARON CT',
 '7105 DANBERG WAY',
 '7108 HEATHER TREE DR',
 '7109 CHANDLER DR',
 '7110 STELLA LN Unit 15',
 '7129 SPRINGMONT DR',
 '7140 BLUE SPRINGS WAY',
 '719 BAYWOOD CT',
 '72 CRYSTALWOOD CIR',
 '7204 KERSTEN ST',
 '7204 THOMAS DR',
 '7213 CALVIN DR',
 '7223 KALLIE KAY LN',
 '7226 LARCHMONT DR',
 '7252 CARRIAGE DR',
 '7315 KOALA CT',
 '7320 6TH ST',
 '7325 10TH ST',
 '7328 SPRINGMAN ST',
 '7340 HAMDEN PL',
 '7342 DAVE ST',
 '7342 GIGI PL',
 '7344 BUTTERBALL WAY',
 '7349 FLETCHER FARM DR',
 '7351 GIGI PL',
 '7374 TISDALE WAY',
 '7381 WASHBURN WAY',
 '739 E WOODSIDE LN Unit E',
 '7401 TOULON LN',
 '7409 VOYAGER WAY',
 '7420 ALIX PKWY',
 '7423 WILSALL CT',
 '7458 WINKLEY WAY',
 '746 MOOSE CREEK WAY',
 '7461 WINDBRIDGE DR',
 '75 E ST',
 '7511 OAKVALE CT',
 '7517 50TH AVE',
 '7535 ALMA VISTA WAY',
 '7540 HICKORY AVE',
 '7541 SKELTON WAY',
 '7577 EDDYLEE WAY',
 '76 CRYSTALWOOD CIR',
 '7607 ELDER CREEK RD',
 '7620 DARLA WAY',
 '7624 BOGEY CT',
 '7629 BETH ST',
 '7641 ROSEHALL DR',
 '7661 NIXOS WAY',
 '7687 HOWERTON DR',
 '7697 ROSEHALL DR',
 '77 RINETTI WAY',
 '7709 RIVER VILLAGE DR',
 '7713 HARVEST WOODS DR',
 '7730 ROBINETTE RD',
 '7731 MASTERS ST',
 '7740 DIXIE LOU ST',
 '7741 MILLDALE CIR',
 '7744 SOUTHBREEZE DR',
 '7756 TIGERWOODS DR',
 '7800 TABARE CT',
 '7809 VALLECITOS WAY',
 '7812 HARTWICK WAY',
 '7825 CREEK VALLEY CIR',
 '7825 DALEWOODS WAY',
 '7836 ORCHARD WOODS CIR',
 '7837 ABBINGTON WAY',
 '7842 LAHONTAN CT',
 '7849 BONNY DOWNS WAY',
 '7863 CRESTLEIGH CT',
 '7876 BURLINGTON WAY',
 '7895 CABER WAY',
 '7901 GAZELLE TRAIL WAY',
 '7921 DOE TRAIL WAY',
 '7922 MANSELL WAY',
 '7928 36TH AVE',
 '7933 DAFFODIL WAY',
 '7944 DOMINION WAY',
 '7944 SYLVAN OAK WAY',
 '7957 VALLEY GREEN DR',
 '7958 ROSEVIEW WAY',
 '796 BUTTERCUP CIR',
 '8 LA ROCAS CT',
 '8 RIVER RAFT CT',
 '8 TIDE CT',
 '80 CRYSTALWOOD CIR',
 '8001 ARROYO VISTA DR',
 '8001 HARTWICK WAY',
 '8008 SAINT HELENA CT',
 '8020 WALERGA RD',
 '8025 ARROYO VISTA DR',
 '8025 PEERLESS AVE',
 '8032 DUSENBERG CT',
 '8082 LINDA ISLE LN',
 '8101 LEMON COVE CT',
 '8101 PORT ROYALE WAY',
 '8108 FILIFERA WAY',
 '8116 COTTONMILL CIR',
 '815 CROSSWIND DR',
 '8151 QUAIL RIDGE CT',
 '8156 STEINBECK WAY',
 '8164 CHENIN BLANC LN',
 '8165 AYN RAND CT',
 '8167 DERBY PARK CT',
 '8198 STEVENSON AVE',
 '82 WILDFLOWER DR',
 '820 DANA CT',
 '8200 STEINBECK WAY',
 '8205 WEYBURN CT',
 '8207 YORKTON WAY',
 '8208 WOODYARD WAY',
 '8209 RIVALLO WAY',
 '8215 PEREGRINE WAY',
 '8217 PLUMERIA AVE',
 '8219 GWINHURST CIR',
 '8225 SCOTTSDALE DR',
 '8244 SUNBIRD WAY',
 '8248 CENTER PKWY',
 '8253 KEEGAN WAY',
 '8284 RED FOX WAY',
 '8299 HALBRITE WAY',
 '83 ARCADE BLVD',
 '8300 LICHEN DR',
 '8304 JUGLANS DR',
 '8304 RED FOX WAY',
 '8306 CURLEW CT',
 '8316 NORTHAM DR',
 '8317 SUNNY CREEK WAY',
 '8321 MISTLETOE WAY',
 '8323 REDBANK WAY',
 '8344 FIELDPOPPY CIR',
 '8345 STAR THISTLE WAY',
 '8354 SUNRISE WOODS WAY',
 '8363 LANGTREE WAY',
 '8369 FOPPIANO WAY',
 '8373 BLACKMAN WAY',
 '84 CRYSTALWOOD CIR',
 '840 TRANQUIL LN',
 '8421 SUNBLAZE WAY',
 '8424 MERRY HILL WAY',
 '8428 MISTY PASS WAY',
 '8432 BRIGGS DR',
 '8442 KEUSMAN ST',
 '8445 OLD AUBURN RD',
 '8463 TERRACOTTA CT',
 '8491 CRYSTAL WALK CIR',
 '8495 DARTFORD DR',
 '8515 DARTFORD DR',
 '8531 HERMITAGE WAY',
 '8570 SHERATON DR',
 '8593 DERLIN WAY',
 '8612 WILLOW GROVE WAY',
 '8616 ROCKPORTE CT',
 '8629 VIA ALTA WAY',
 '8632 PRAIRIEWOODS DR',
 '8636 LONGSPUR WAY',
 '8636 TEGEA WAY',
 '8637 PERIWINKLE CIR',
 '865 CONRAD CT',
 '8652 BANTON CIR',
 '8664 MAGNOLIA HILL WAY',
 '8671 SUMMER SUN WAY',
 '868 HILDEBRAND CIR',
 '87 LACAM CIR',
 '8708 MESA BROOK WAY',
 '8716 LONGSPUR WAY',
 '8718 ELK WAY',
 '8721 SPRUCE RIDGE WAY',
 '8728 CRYSTAL RIVER WAY',
 '8758 LEMAS RD',
 '8788 LA MARGARITA WAY',
 '8789 SEQUOIA WOOD CT',
 '88 CRYSTALWOOD CIR',
 '8806 PHOENIX AVE',
 '8817 SAWTELLE WAY',
 '8830 ADUR RD',
 '8864 REMBRANT CT',
 '8879 APPLE PEAR CT',
 '8882 AUTUMN GOLD CT',
 '8884 AMBERJACK WAY',
 '8907 GEMWOOD WAY',
 '8909 BILLFISH WAY',
 '8916 GABLES MILL PL',
 '8920 ROSETTA CIR',
 '8929 SUTTERS GOLD DR',
 '8935 MOUNTAIN HOME CT',
 '8952 ROCKY CREEK CT',
 '8986 HAFLINGER WAY',
 '9 PASTURE CT',
 '9 WIND CT',
 '9012 KIEFER BLVD',
 '9013 CASALS ST',
 '9020 LUKEN CT',
 '9021 MADISON AVE',
 '9048 PINTO CANYON WAY',
 '9054 DESCENDANT DR',
 '9058 MONTOYA ST',
 '907 RIO ROBLES AVE',
 '9080 BEDROCK CT',
 '9080 FRESCA WAY',
 '909 SINGINGWOOD RD',
 '9127 NEWHALL DR Unit 34',
 '913 COBDEN CT',
 '9169 GARLINGTON CT',
 '9176 SAGE GLEN WAY',
 '9182 LAKEMONT DR',

CtyMpgByCyl = []

for c in streets: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['street'] == c: # if the cylinder level type matches,
            summpg += string(d['city']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

# import date and time

In [17]:
import datetime as dt
import time as tm

In [18]:
tm.time()

1590652143.72

In [21]:
dtnow = dt.datetime.fromtimestamp(tm.time())

In [22]:
dtnow

datetime.datetime(2020, 5, 28, 13, 20, 42, 953393)

In [23]:
dtnow.year

2020

In [24]:
dtnow.month

5

In [25]:
dtnow.date

In [26]:
dtnow.datetime

AttributeError: 'datetime.datetime' object has no attribute 'datetime'

In [27]:
dtnow.day

28

In [28]:
dtnow.hour,dtnow.minute,dtnow.second

(13, 20, 42)

In [29]:
delta = dt.timedelta(100)

In [30]:
delta

datetime.timedelta(100)

In [31]:
today =  dt.date.today()

In [32]:
today-delta

datetime.date(2020, 2, 18)

In [33]:
today > today-delta

True

In [3]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [5]:
even_or_odd(24)

'The number 24 is even'

In [8]:
lst=[1,2,3,4,5,6,7,8,9]

In [9]:
list(map(even_or_odd,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd']

In [10]:
class computer:
    def config(self):
        print("i5,16gb,1tb")
        
        
comp1 = computer()

In [11]:
computer.config(comp1)

i5,16gb,1tb

In [14]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables = [i*j for i in range(10) for j in range(10)]
times_tables

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [16]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]
answer[:50]

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']

# Numpy

In [17]:
import numpy as np

# Creating numpy as arrays

In [18]:
mylist = [1,2,3]
x = np.array(mylist)
x

array([1, 2, 3])

In [19]:
y = np.array([4,5,6])
y

array([4, 5, 6])

In [21]:
z = np.array([[1,2,3],[4,5,6]])
z

array([[1, 2, 3],
       [4, 5, 6]])

In [22]:
z.shape()

TypeError: 'tuple' object is not callable

In [23]:
z.shape

(2, 3)

In [26]:
n = np.arange(0,16,2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14])

In [31]:
n = n.reshape(4,2)
n

array([[ 0,  2],
       [ 4,  6],
       [ 8, 10],
       [12, 14]])

In [33]:
o = np.linspace(0,5,10)
o

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

In [34]:
o.resize(5,2)
o

array([[0.        , 0.55555556],
       [1.11111111, 1.66666667],
       [2.22222222, 2.77777778],
       [3.33333333, 3.88888889],
       [4.44444444, 5.        ]])

In [35]:
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [37]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [38]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [45]:

np.diag(x)

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

In [46]:
np.array([1,2,3]*3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [48]:
np.repeat([1,2,3],3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [49]:
p = np.ones([3,2],int)
p

array([[1, 1],
       [1, 1],
       [1, 1]])

In [51]:
np.vstack([p,2*p])

array([[1, 1],
       [1, 1],
       [1, 1],
       [2, 2],
       [2, 2],
       [2, 2]])

In [52]:
np.hstack([p,2*p])

array([[1, 1, 2, 2],
       [1, 1, 2, 2],
       [1, 1, 2, 2]])


# Operations

In [53]:
x+y

array([5, 7, 9])

In [54]:
x * y

array([ 4, 10, 18])

In [55]:
x**2

array([1, 4, 9])

In [56]:
x.dot(y)

32

In [57]:
z =  np.array([y,y**2])

In [58]:
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [59]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [60]:
z.t.shape

AttributeError: 'numpy.ndarray' object has no attribute 't'

In [61]:
z.T.shape

(3, 2)

In [62]:
a = np.array([1,2,3,-5,-6])

In [63]:
a.sum()

-5

In [64]:
a.max()

3

In [65]:
a.min()

-6

In [66]:
a.mean()

-1.0

In [67]:
a.std()

3.7416573867739413

In [68]:
a.argmax()

2

In [69]:
a.argmin()

4

# Indexing and slicing

In [70]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

In [71]:
s[0],s[4],s[1:4]

(0, 16, array([1, 4, 9]))

In [72]:
s[-5::-2]

array([64, 36, 16,  4,  0])

In [74]:
r = np.arange(36)
r.resize([6,6])
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [75]:
r[2,2]

14

In [76]:
r[3,3:6]

array([21, 22, 23])

In [77]:
r[:2,:-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [80]:
r[-1,::2]

array([30, 32, 34])

In [81]:
r[r>30]

array([31, 32, 33, 34, 35])

In [82]:
r[r>30]=30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [114]:
r.reshape(36)[::7]
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [85]:
r2[:]=0

In [86]:
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [87]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [92]:
r_copy = r.copy()
r_copy[:,0]=0
print(r_copy)
print(r)

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [ 0 19 20 21 22 23]
 [ 0 25 26 27 28 29]
 [ 0 30 30 30 30 30]]
[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

# Iterating over arrays

In [94]:
test = np.random.randint(0,10,(4,3))
test

array([[8, 4, 0],
       [1, 9, 5],
       [5, 9, 1],
       [8, 3, 7]])

In [97]:
for i in range (len(test)):
          print(test[i])

[8 4 0]
[1 9 5]
[5 9 1]
[8 3 7]

In [99]:
for i,row  in enumerate (test):
    print('row',i,'is',row)

row 0 is [8 4 0]
row 1 is [1 9 5]
row 2 is [5 9 1]
row 3 is [8 3 7]

In [100]:
test2 = test**2

In [101]:
test2

array([[64, 16,  0],
       [ 1, 81, 25],
       [25, 81,  1],
       [64,  9, 49]])

In [102]:
for i,j in zip(test,test2):
    print(i,'+',j,'=',i+j)

[8 4 0] + [64 16  0] = [72 20  0]
[1 9 5] + [ 1 81 25] = [ 2 90 30]
[5 9 1] + [25 81  1] = [30 90  2]
[8 3 7] + [64  9 49] = [72 12 56]

In [103]:
type(lamda x:x+1)

SyntaxError: invalid syntax (<ipython-input-103-1340b2977d75>, line 1)

In [104]:
x=[1,2,3]
type(lamda x:x+1)

SyntaxError: invalid syntax (<ipython-input-104-dda8fe96cd17>, line 2)

In [105]:
type(lamda)

NameError: name 'lamda' is not defined

In [3]:
import numpy as np
r= np.arange(36)
r

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35])

In [4]:
r = r.reshape(6,6)
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [5]:
r[2:4,2:4]

array([[14, 15],
       [20, 21]])

r[