# import pandas as pd 

df =  pd.DataFrame([{'Name':'Shruti','Car':'Audi','Cost':10},
                    {'Name':'Sanket','Car':'BMW','Cost':20}])
df

In [1]:
df['Feedbaak'] = True
df

NameError: name 'df' is not defined

In [ ]:
df['Location'] = {'canada','patran'}

In [ ]:
df

In [ ]:
adf = df.reset_index()
adf

In [ ]:
adf['Cost'] = pd.Series({0:50})
adf

In [ ]:
student_df = pd.DataFrame([{'Name':'Joly','Role':'HR'},
                        {'Name':'Shruti','Role':'Employee'},
                       {'Name':'Sanket','Role':'HR'}])

student_df = student_df.set_index('Name')
staff_df =  pd.DataFrame([{'Name':'Shruti','School':'Engineer'},
                      {'Name':'Sanket','School':'Naukar'},
                      {'Name':'Meena','School':'Doctor'}])
staff_df = staff_df.set_index('Name')

print(staff_df.head())

print()

print(student_df.head())

In [ ]:
pd.merge(staff_df,student_df,how = 'outer',left_index=True,right_index = True)

In [ ]:
pd.merge (staff_df,student_df,how = 'inner',left_index = True,right_index = True)

In [ ]:
pd.merge (staff_df,student_df,how = 'left' , left_index = True,right_index = True)

In [ ]:
pd.merge (staff_df,student_df,how = 'right',left_index = True ,right_index = True)

In [ ]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(staff_df,student_df,how = 'left',left_on = 'Name',right_on = 'Name')

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}])
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

In [ ]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}])

print(staff_df)
print(student_df)

In [ ]:
pd.merge(staff_df,student_df,how = 'inner',left_on = ['First Name','Last Name'],right_on = ['First Name','Last Name'])

# Idiomatic Pandas

In [ ]:
import pandas as pd

df = pd.read_csv('census.csv')
df.head()

In [ ]:
(df.where(df['SUMLEV'] == 50)
    .dropna()
     .set_index(['STNAME','CTYNAME'])
      .rename(columns={'ESTIMATESBASE2010':'ESTIMATEBASE'}))

In [ ]:
import numpy as np
def min_max(row):
     data=row[['POPESTIMATE2010',
               'POPESTIMATE2011',
               'POPESTIMATE2012',
               'POPESTIMATE2013',
               'POPESTIMATE2014',
               'POPESTIMATE2015']]
    return pd.Series({'min':np.min(data),'max':np.max(data)})

In [ ]:
import numpy as np
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

In [ ]:
df.apply(min_max,axis=1)

In [2]:
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    row['min'] = np.min(data)
    row['max'] = np.max(data)
    return row
df.apply(min_max,axis=1)

NameError: name 'df' is not defined

In [ ]:
row = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']

df.apply(lambda x:np.max(x[row]),axis = 1)

# Group by

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df.head()

# Group By

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [ ]:
%%timeit -n 10
for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('Countries in state' + state + 'have an average population of' + str(avg))

In [ ]:
%lsmagic

In [ ]:
%%timeit -n 10
for group,frame in df.groupby('STNAME'):
    avg = np.average(frame['CENSUS2010POP'])
    print('Countries in state' + group + 'have average population of' + str(avg))

In [ ]:
df.head()

In [ ]:
df = df.set_index('STNAME')

def fun(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(fun):
    print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

In [ ]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]

In [ ]:
df.groupby('STNAME').agg({'CENSUS2010POP': np.average})

In [ ]:
print(type(df.groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']))
print(type(df.groupby(level=0)['POPESTIMATE2010']))

In [4]:
(df.set_index['STNAME'].groupby(level = 0)['CENSUS2010POP']
   .agg({'avg':np.average,'sum':np.sum}))

TypeError: 'method' object is not subscriptable

In [ ]:
(df.set_index('STNAME').groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'avg': np.average, 'sum': np.sum}))

In [ ]:
g = df.groupby('STNAME')
g.head()

In [ ]:
g.mean()

In [ ]:
g.head()

# Scales

In [5]:
df = pd.DataFrame(['A+','A','A-','B+','B','B-','C+','C','C-'],index = ['excellent','excellent','excellent','good','good','good','ok','ok','ok'])
df.rename(columns={0:'Grades'},inplace = True)
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-

In [6]:
 df['Grades'].astype('category').head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (9, object): [A, A+, A-, B, ..., B-, C, C+, C-]

In [ ]:
grade = df['Grades'].astype('category',
                             ordered = True)
grade.head()

In [ ]:
pip install numpy --upgrade

In [7]:
grade = df['Grades'].astype('category',
                             categories = ['C-','C','C+','B-','B','B+','A-','A','A+'],
                             ordered = True)
grade.head()

TypeError: astype() got an unexpected keyword argument 'categories'

# Pivot tables

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('cars.csv')
df.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [5]:
df.pivot_table(values = '(kW)',index = 'YEAR',columns = 'Make',aggfunc =np.mean)

Make    BMW  CHEVROLET   FORD   KIA  MITSUBISHI  NISSAN  SMART       TESLA
YEAR
2012    NaN        NaN    NaN   NaN        49.0    80.0    NaN         NaN
2013    NaN        NaN  107.0   NaN        49.0    80.0   35.0  280.000000
2014    NaN      104.0  107.0   NaN        49.0    80.0   35.0  268.333333
2015  125.0      104.0  107.0  81.0        49.0    80.0   35.0  320.666667
2016  125.0      104.0  107.0  81.0        49.0    80.0   35.0  409.700000

In [7]:
df.pivot_table(values ='(kW)',index = 'YEAR',columns ='Make',aggfunc = [np.mean,np.sum])

       mean                                                               sum  \
Make    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART       TESLA    BMW
YEAR
2012    NaN       NaN    NaN   NaN       49.0   80.0   NaN         NaN    NaN
2013    NaN       NaN  107.0   NaN       49.0   80.0  35.0  280.000000    NaN
2014    NaN     104.0  107.0   NaN       49.0   80.0  35.0  268.333333    NaN
2015  125.0     104.0  107.0  81.0       49.0   80.0  35.0  320.666667  125.0
2016  125.0     104.0  107.0  81.0       49.0   80.0  35.0  409.700000  125.0


Make CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART   TESLA
YEAR
2012       NaN    NaN   NaN       49.0   80.0   NaN     NaN
2013       NaN  107.0   NaN       49.0   80.0  70.0  1120.0
2014     104.0  107.0   NaN       49.0   80.0  70.0   805.0
2015     104.0  107.0  81.0       49.0   80.0  70.0  1924.0
2016     104.0  107.0  81.0       49.0  160.0  70.0  4097.0

# Date functinality in pandas

In [8]:
import pandas as pd
import numpy as np

# Time stamp

In [11]:
pd.Timestamp('2019-06-03 10:05AM')

Timestamp('2019-06-03 10:05:00')

In [12]:
pd.Period('2019-06')

Period('2019-06', 'M')

# Period

In [13]:
pd.Period('2019-06-03')

Period('2019-06-03', 'D')

# DateTimeIndex

In [15]:
t1 = pd.Series(list('abc'),[pd.Timestamp('2019-06-01'),pd.Timestamp('2019-06-02'),pd.Timestamp('2019-06-03')])
t1

2019-06-01    a
2019-06-02    b
2019-06-03    c
dtype: object

In [16]:
t2 = pd.Series(list('abc'),[pd.Timestamp('2019-06'),pd.Timestamp('2019-07'),pd.Timestamp('2019-08')])
t2

2019-06-01    a
2019-07-01    b
2019-08-01    c
dtype: object

In [17]:
pd.Timestamp('2019-06')-pd.Timestamp('2019-05')

Timedelta('31 days 00:00:00')

In [22]:
pd.Timestamp('3/6/2019  8:10AM')+pd.Timedelta('12D 3H')

Timestamp('2019-03-18 11:10:00')

In [25]:
d1 = ['2 aug 2019','2 aug 2016','2/3/1999','2015-04-01']
ts3 = pd.DataFrame(np.random.randint(10,100,(4,2)),index=d1,columns = list('ab'))
ts3

             a   b
2 aug 2019  39  74
2 aug 2016  62  35
2/3/1999    60  93
2015-04-01  57  48

In [27]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2019-08-02  39  74
2016-08-02  62  35
1999-02-03  60  93
2015-04-01  57  48

In [31]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      105      115
2016-10-16      100      129
2016-10-30       96      118
2016-11-13      102      122
2016-11-27      101      122
2016-12-11      103      116
2016-12-25      109      126
2017-01-08      107      119
2017-01-22      110      126

In [35]:
df.index.weekday_name

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [36]:
df.resample('M').mean()

               Count 1     Count 2
2016-10-31  100.333333  120.666667
2016-11-30  101.500000  122.000000
2016-12-31  106.000000  121.000000
2017-01-31  108.500000  122.500000

In [37]:
df['2017']

            Count 1  Count 2
2017-01-08      107      119
2017-01-22      110      126